#walrus-showing {
  display: none;
}

img {
  width: 20%;
}

.clickable {
  cursor: pointer;
  color: #0088cc;

}

.clickable: hover {
  text-decoration: underline;
}

.light-background {
  background-color: lightskyblue;
  color:darkblue;
}

.dark-background {
  background-color:darkgreen;
  color:lightcoral;
}